    #score1 {
      height: 100vh;
      font-size: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #17a2b8;
      color: #fff;
    }
    
    #score2 {
      height: 100vh;
      font-size: 10rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #dc3545;
      color: #fff;
    }
    
    @media only screen and (max-width: 767px) {
      #score1 {
        order: 1;
      }
      
      #score2 {
        order: 2;
      }
    }
